	<div class="row container">
		<h2 class="header">{{ page.title }}</h2>
		
		<div class="col s12 m6">
	        <div class="card-panel z-depth-1">
	            {{ page.content }}
	            <address class="vcard center">
	            	<span class="fn">{{ site.title|e('html')|upper }}</span>
					<div class="adr">
						{%if page.header.contact.street %}  
							<div class="street-address">{{ page.header.contact.street }}</div>
						{%endif%} 
						{%if page.header.contact.locality %}
							<div class="locality">{{ page.header.contact.locality }}</div >
						{%endif%}
						{%if page.header.contact.postal_code %}
							<div class="postal-code">{{ page.header.contact.postal_code }}</div >
						{%endif%} 
						{%if page.header.contact.country %}
							<div class="country-name">{{ page.header.contact.country |upper }}</div >
						{%endif%}
					</div> 
					{%if page.header.contact.phone %}
						<div class="tel"><a href="tel:{{ page.header.contact.phone }}">{{ page.header.contact.phone }}</a></div>
					{%endif%}
					{%if page.header.contact.email %}
						<a class="email" href="mailto:{{ page.header.contact.email }}">{{ page.header.contact.email | safe_email }}</a> 
					{%else%}
	                	<a class="email" href="mailto:{{ site.author.email }}">{{ site.author.email | safe_email }}</a>
					{%endif%} 
				</address>
	            	<ul class="social">
			            {% if page.header.contact.facebook %}
			            	<li class="chip"><a href="{{ page.header.contact.facebook }}"><i class="icon-facebook"></i>facebook</a></li>
			            {% endif %}
			            {% if page.header.contact.gplus %}
			            	<li class="chip"><a href="{{ page.header.contact.gplus }}"><i class="icon-gplus"></i>google+</a></li>
			            {% endif %}
			            {% if page.header.contact.twitter %}
			            	<li class="chip"><a href="{{ page.header.contact.twitter }}"><i class="icon-twitter"></i>twitter</a></li>
			            {% endif %}
		            </ul>
	        </div>
	    </div>
	        
		<div class="col s12 m6">
			<div class="alert">{{ form.message }}</div>
			<form class="card-panel z-depth-1" 
					name="{{ form.name }}"
					action="{{ uri.rootUrl ~ (form.action|default(page.route)) }}"
					method="{{ form.method|upper|default('POST') }}">
				<h4>{{ 'CREATURE.SEND_US' |t }}</h4>
				<div class="row">
					<div class="input-field col s6">
			          <input name="first_name" id="first_name" type="text" class="validate" required="required">
			          <label for="first_name">{{ 'CREATURE.FIRST_NAME' |t }}</label>
			        </div>
			        <div class="input-field col s6">
			          <input name="last_name" id="last_name" type="text" class="validate" required="required">
			          <label for="last_name">{{ 'CREATURE.LAST_NAME' |t }}</label>
			        </div>
				</div>
				<div class="row">
			        <div class="input-field col s12">
			          <input name="email" id="email" type="email" class="validate" required="required">
			          <label for="email">{{ 'CREATURE.EMAIL' |t }}</label>
			        </div>
				</div>
				<div class="row">
			        <div class="input-field col s12">
			          <textarea name="message" id="textarea" 
			          	class="materialize-textarea"
			          	required="required"
			          	>{{ value|trim|e('html') }}</textarea>
			          <label for="textarea">{{ 'CREATURE.MESSAGE' |t }}</label>
			        </div>
				</div>
				<button class="btn waves-effect waves-light" type="submit" name="action">{{ 'CREATURE.SEND_MESSAGE' |t }}
			    	<i class="material-icons right">send</i>
				</button>
			</form>
		</div>
		    
	</div>