	<div class="row container">
	    <h2 class="header">{{ page.title }}</h2>
	      
	      	{% if page.content %}
	        <article class="col s12 m6">
	          <div class="card-panel">
	            <span class="flow-text">
	            	{{ page.content }}
	            </span>
	    	  </div>
		  	</article>
		  	{% endif %}
		  	
		  	{% for project in page.find('/projects').children %}
					
		  		{% set main_image = project.media.images|first %}
				<article class="col s12 m6">
		          <div class="card">
		            <div class="card-image">
		              <img src="{{ main_image.url }}">
		              <span class="card-title">{{ project.title }}</span>
		            </div>
		            <a class="btn-floating btn-large" href="{{ project.url }}">
		            	<i class="material-icons">add</i></a>
		            <div class="card-content">
		              {{ project.summary }}
		            </div>
		          </div>
		        </article>
	        {% endfor %}
	                
	</div>