{% set showcase_image = page.media.images|first.grayscale().contrast(40).brightness(-110).colorize(15,70,145) %}


	<section class="showcase section parallax-container valign-wrapper">
	    <div class="parallax">
	    	<img src="{{ showcase_image.url }}">
	    </div>
	    <div class="row container white-text">
					<h2 class="center-align">{{ page.title }}</h2>
				{% if page.header.subtitle %}
					<h3 class="center-align">{{ page.header.subtitle }}</h3>
				{% endif %}
				
				{% if page.header.buttons %}
					<div class="center-align">
					{% for button in page.header.buttons %}
						<a class="waves-effect waves-light btn-large btn-flat white-text" href="{{ button.url }}">
							<i class="material-icons{% if button.side %} left{% else %} right{% endif %}">{{ button.icon }}</i>
							{{ button.text }}
						</a>
					{% endfor %}
					</div>
				{% endif %}
				
	    </div>
	</section>
