{% macro teamID(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

	<div class="row container">
	    <h2 class="header">{{ page.title }}</h2>
	</div>
	<div class="row container">
		{% for member in page.header.members %}
			{% set photo = page.media[member.image] %}
	       <article class="col s12 m4 center portrait" data-target="{{ _self.teamID(member.name) }}">
	              <img src="{{ photo.cropResize(300, 300).url }}" alt="" class="circle responsive-img">
	              <a class="btn-floating btn-large hide-on-small-only"><i class="material-icons">add</i></a>
	              <h6>{{ member.name }}</h6>
	              <span class="hide-on-med-and-up">{{ member.bio | markdown }}</span>
			            <ul class="social hide-on-med-and-up">
			            {% if member.website %}
			            	<li class="chip"><a href="{{ member.website }}"><i class="icon-network"></i>website</a></li>
			            {% endif %}
			            {% if member.facebook %}
			            	<li class="chip"><a href="{{ member.facebook }}"><i class="icon-facebook"></i>facebook</a></li>
			            {% endif %}
			            {% if member.twitter %}
			            	<li class="chip"><a href="{{ member.twitter }}"><i class="icon-twitter"></i>twitter</a></li>
			            {% endif %}
		              </ul>
	      </article>
	    {% endfor %}
	      
		  <element id="teamContent" class="col s12 hide-on-small-only">
		  	{% for member in page.header.members %}
		        <div id="{{ _self.teamID(member.name) }}" class="card-panel z-depth-2 hidden">
		            <div class="card-content white-text">
			            <h6 class="card-title">{{ member.name }}</h6>
			            {{ member.bio |markdown }}
			        </div>
			        <div class="card-action">
			            <ul class="social">
			            {% if member.website %}
			            	<li class="chip"><a href="{{ member.website }}"><i class="icon-network"></i>website</a></li>
			            {% endif %}
			            {% if member.facebook %}
			            	<li class="chip"><a href="{{ member.facebook }}"><i class="icon-facebook"></i>facebook</a></li>
			            {% endif %}
			            {% if member.twitter %}
			            	<li class="chip"><a href="{{ member.twitter }}"><i class="icon-twitter"></i>twitter</a></li>
			            {% endif %}
		              </ul>
			        </div>
		        </div>
			{% endfor %}
	      </element>
	      
	</div>