{% macro teamID(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

<section id="team" class="team section">
	<div class="row container">
	    <h2 class="header">{{ page.title }}</h2>
	</div>
	<div class="row container">
		{% for member in page.header.members %}
			{% set photo = page.media[member.image] %}
	       <article class="col s12 m4 center portrait" data-target="{{ _self.teamID(member.name) }}">
		       <div class="card-panel z-depth-1">
	              <img src="{{ photo.url }}" alt="" class="circle responsive-img">
	              <span class="white-text card-title">{{ member.name }}</span>
	              <span class="white-text hide-on-med-and-up">{{ member.bio | markdown }}</span>
		       </div>
	      </article>
	    {% endfor %}
	      
		  <element id="teamContent" class="col s12 hide-on-small-only">
		  	{% for feature in page.header.features %}
		        <div id="{{ _self.teamID(member.name) }}" class="card-panel z-depth-2 hidden">
		            <div class="card-content white-text">
			            <span class="card-title">{{ member.name }}</span>
			            {{ member.bio | markdown }}
			        </div>
			        <div class="card-action">
			            <ul class="social">
			              <li class="chip"><i class="material-icons">face</i>twitter</li>
			              <li class="chip"><i class="material-icons">face</i>facebook</li>
			              <li class="chip"><i class="material-icons">face</i>google+</li>
		              </ul>
			        </div>
		        </div>
			{% endfor %}
	      </element>
	      
	</div>
</section>