{% extends 'partials/base.html.twig' %}

{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% block header_navigation %}
    <ul class="right hide-on-med-and-down">
        {% for module in page.collection() %}

            {% set current_module = (module.active or module.activeChild) ? 'active' : '' %}
            <li class="{{ current_module }}"><a href="#{{ _self.pageLinkName(module.menu) }}">{{ module.menu }}</a></li>

        {% endfor %}
    </ul>
{% endblock %}

{% block mobile_navigation %}
    <ul class="side-nav" id="mobile-menu">
    		<li class="close"><a><i class="material-icons">close</i></a></li>
    		<li><a href="#top">Top</a></li>
        {% for module in page.collection() %}

            {% set current_module = (module.active or module.activeChild) ? 'active' : '' %}
            <li class="{{ current_module }}"><a href="#{{ _self.pageLinkName(module.menu) }}">{{ module.menu }}</a></li>

        {% endfor %}
    </ul>
{% endblock %}	    

{% block content %}
    {{ page.content }}
    {% for module in page.collection() %}
        <div id="{{ _self.pageLinkName(module.menu) }}"></div>
        {{ module.content }}
    {% endfor %}
{% endblock %}
