{% extends 'partials/base.html.twig' %}

{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_','é':'e','è':'e','ê':'e','à':'a','ù':'u'}) }}{% endmacro %}

{% block header_navigation %}
    <ul class="navigation right hide-on-med-and-down">
        {% for module in page.collection() %}

            {% set current_module = (module.active or module.activeChild) ? 'active' : '' %}
            <li><a href="#{{ _self.pageLinkName(module.menu) }}">{{ module.menu }}</a></li>

        {% endfor %}
    </ul>
{% endblock %}

{% block mobile_navigation %}
    <ul class="side-nav" id="mobile-menu">
    		<li class="close"><a><i class="material-icons">close</i></a></li>
        {% for module in page.collection() %}

            {% set current_module = (module.active or module.activeChild) ? 'active' : '' %}
            <li><a href="#{{ _self.pageLinkName(module.menu) }}">{{ module.menu }}</a></li>

        {% endfor %}
        {% for item in page.header.menuitems %}
        <li>
            <a href="{{ item.url }}">{{ item.text }}</a>
        </li>
		{% endfor %}
    </ul>
{% endblock %}	    

{% block content %}
    {% for module in page.collection() %}
        <section id="{{ _self.pageLinkName(module.menu) }}" class="{{ module.template |replace({'/':' '}) }} section scrollspy{% if module.template == 'modular/showcase' %} parallax-container valign-wrapper{%elseif module.template == 'modular/parallax'%} parallax-container hide-on-small-only{% endif %}">
        {{ module.content }}
        </section>
    {% endfor %}
    {{ page.content }}
{% endblock %}
